.monaco-editor {
  border-radius: 12px;
  padding: 10px 0;
  background-color: transparent !important;
}

.overflow-guard {
  border-radius: 12px;
}

.line-numbers {
  width: 30px !important;
}

.code-editor > div,
.code-editor > div > section {
  height: 92.5% !important;
}

div[role="presentation"] {
  background-color: hsl(216 56% 98%) !important;
}
